@font-face {
    font-family: 'Gotham-HTF';
    src: url('GothamHTF-Bold.eot');
    src: local('Gotham HTF Bold'), local('GothamHTF-Bold'),
        url('GothamHTF-Bold.eot?#iefix') format('embedded-opentype'),
        url('GothamHTF-Bold.woff2') format('woff2'),
        url('GothamHTF-Bold.woff') format('woff'),
        url('GothamHTF-Bold.ttf') format('truetype'),
        url('GothamHTF-Bold.svg#GothamHTF-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

