// Config 
flex-version = flex
support-for-ie = true
vendor-prefixes = official


amarillo = #fae500
blanco = #ffffff
casi-blanco = #edeef0
casi-negro = #333333
naranja = #f99135
naranja2 = #dd711f
naranjav2 = #f89035
verde = #61a853
verde-aqua = #00c3b4
aquaPar2 = #01ada1
gris = #f1f1f1

game-azul = #0c7e93
game-celeste = #cef6ff

GothamHTFBold(s=1em, w=normal)
  font-family 'Gotham-HTF' !important
  font-size s !important
  font-weight w

@import url('https://fonts.googleapis.com/css?family=Poppins:700,800')

*
  outline none !important

body
  background-color blanco
  margin 0
  padding 0

footer
  background-color gris
  .container
    align-items center
    display flex    
    justify-content space-between
    margin 2rem auto 0 auto  
    padding 1em 0
    p
      font-size 1.3em
      font-weight bold
    .icons    
      font-size 3rem
      a
        color naranja2
  +below(600px)
    .container
      flex-direction column !important

.header-flip
  margin 0 auto 2rem auto
  max-width 1300px  
  a
    vertical-align middle
  .lHome
    display inline-block
    padding 15px 0 0 5px
    img
      max-width 100px
  .modal-trigger
    GothamHTFBold()  
    margin-left 50px
  +below(600px)
    display flex
    justify-content space-evenly
    align-items center

.modal
  max-height 85% !important

.options
  align-content center
  align-items center
  display flex
  flex-direction column
  height 90vh
  justify-content center
  text-align center
  text-transform uppercase
  width 100%
  a,img,p
    width 250px
  a
    background-color verde
    border-radius 10px
    box-shadow 0 3px 0px 1px rgb(naranja2)
    display inline-block
    color blanco
    GothamHTFBold(2em)
    line-height 1.7
    &:hover
      cursor pointer
  img
    display inline-block
    margin-top 5px
  p
    color casi-negro
    GothamHTFBold(0.8em)
  ul
    background-color naranja
    border-radius 10px    
    width 220px
    li
      border-bottom 1px solid blanco
      color blanco
      display inline-block
      GothamHTFBold(1.3em)
      line-height 2
      width 200px
      &.current
        &::after
          content "◂"
          color blanco
        &::before
          content "▸"
          color blanco
      &:hover
        cursor pointer
      &:last-child
        border none

.subs
  padding 20px 0
  text-align center
  width 100%  

.solid-container
  height 83vh
  margin -10px auto 10px auto
  max-width 1300px
  width 90%
  +below(600px)
    height 85vh

#modalSub
  background-color casi-blanco
  border-radius 15px !important
  box-shadow 0 3px 0px 1px rgb(verde) !important
  max-width 750px
  overflow unset
  .modal-close
    absolute top -10px right -10px
    color blanco
    background-color verde
    border-radius 50%
    GothamHTFBold(1.5em)
    padding 8px 15px
    text-align center
  .modal-content
    padding 24px 40px !important
  h5
    color casi-negro
    GothamHTFBold(1.4em)
    margin-bottom 50px
    padding 0 0.75rem
  .form
    a
      background-color naranja
      border-radius 10px
      box-shadow 0 3px 0px 1px rgb(naranja2)
      color blanco
      display block
      GothamHTFBold(2em)
      line-height 1.7
      margin-left 0.75rem
      max-width 250px
      text-align center
    input
      background-color blanco
      border-radius 10px
      color casi-negro
      GothamHTFBold(1.1em)
      margin-bottom 30px
      padding-left 10px
    label
      color casi-negro
      GothamHTFBold(1.3em)
      line-height 1.2
    .row
      width 100%
  +below(900px)
    h5
      GothamHTFBold(1.1em)
      margin-bottom 10px
    .form
      a
        GothamHTFBold(1.4em)
        line-height 2
      input
        GothamHTFBold(1em)
        margin-bottom 5px
        padding-left 5x
      label
        GothamHTFBold(1em)
    .modal-content
      padding 20px 15px !important


// new
header
  padding-bottom 20px
  .yellow.darken-4
    color blanco
    box-shadow 0 3px 0px 1px rgb(naranja2)
    GothamHTFBold(1.2em)
    relative top 1px left
    +below(600px)
      display block !important
  div.logo
    background-image url('/img/v2/topWhite.png')
    background-position center
    background-repeat no-repeat
    background-size auto 100%
    padding 30px 0
    text-align center
    img
      display inline-block
      max-width 200px
      width 90%
  +below(600px)
    .logo
      padding 10px 0 15px 0 !important
      img
        max-width 120px !important

.bg-aqua
  background-color verde-aqua

.bg-white
  background-color blanco
  h2
    background-color verde-aqua
    border-radius 6px
    box-shadow 0 0 12px 3px rgba(casi-negro , 0.4)
    color blanco
    display block
    font-weight bold
    font-size 2em
    margin 30px auto 0 auto
    max-width 400px
    padding 5px 20px
    relative top left
    text-align center
    text-shadow 0 0 3px rgba(casi-negro , 0.6)
    width 100%
    z-index 99
    span
      display block
    &.p
      padding 10px 20px
    +below(600px)
      border-radius 0 !important
      box-shadow none !important
      margin-top 5px !important      
      max-width 100% !important

.calc  
  background-position center
  background-size 95% auto
  background-repeat no-repeat
  text-align center
  &.sv
    background-image url('/img/v2/bg2-sv.jpg')
  &.gt
    background-image url('/img/v2/bg2-gt.jpg')
  &.cr
    background-image url('/img/v2/bg2-cr.jpg')
  &.hn
    background-image url('/img/v2/bg2-hn.jpg')
  &.nc
    background-image url('/img/v2/bg2-nc.jpg')
  h1
    background-color amarillo
    border-radius 6px
    box-shadow 0 0 12px 3px rgba(darken(verde-aqua, 70%) , 0.4)
    color verde-aqua
    display inline-block
    font-weight bold    
    GothamHTFBold(2em)
    margin 0 auto
    max-width 95%
    padding 5px 20px
    text-shadow 0 0 3px rgba(darken(verde-aqua, 90%) , 0.8)
  h2
    color blanco    
    font-weight 400
    GothamHTFBold(1.7em)
    margin-top 3rem
    text-align center
  iframe
    border 20px solid naranjav2
    border-radius 10px
    height 281px
    margin 10px auto
    max-width 500px
    width 100%
    +below(600px)
      border none !important
      border-radius 0 !important
  .calc-js    
    margin 5px auto
    max-width 400px
    .calc-component,.text-calc
      display block
    .calc-component
      background-color naranjav2
      border-radius 15px
      min-width 300px
      padding-bottom 5px      
      hr
        background-color darken(naranjav2, 30%)
        border none
        display inline-block
        margin-top 20px
        height 8px
        width 100%
    .cont-butons 
      padding 0 5px
      table
        border-collapse initial !important
        margin 10px auto
        max-width 360px
        width 100%
        tr
          td
            padding 0 5px !important
            text-align center
        img
          display inline-block
          margin 0 auto
          &:hover
            cursor pointer
        .n,.pl,.cl.eq
          height auto
        .eq
          width 193px
        .n,.cl
          width 70px
        .pl
          margin-left 15px
          width 98px
        +below(1110px)
          .n,.cl
            width 60px
          .eq
            width 165px
          .pl
            margin-left 0
            width 88px
        +below(450px)
          .eq
            width 170px
          .n,.cl
            width 55px
          .pl
            width 78px
        +below(370px)
          .eq
            width 150px
    .text-calc
      color blanco
      font-size 12px
      text-align center
      span
        display block
        font-size 14px
        font-weight bold
    .top
      background-color blanco
      margin 0 auto
      relative top left
      width 88%
      p.calc-title
        absolute top left 5px
        display block
        color verde-aqua
        GothamHTFBold(1.5em)
        margin 0
        text-align left
      .calc-total
        absolute bottom left 5px
        display block
        color verde-aqua
        GothamHTFBold(11px)
        text-align left
      .number
        display inline-block
        padding-top 5px
        text-align right
        width 100%
        img
          height auto
          margin 0 10px
          width 120px
        span
          color verde-aqua
          font-size 3.7em
          font-weight bold
          line-height 1.8
          sup
            font-size 60% !important
  .row
    padding 30px 0
    +below(600px)
      margin-bottom 0 !important      

.aux-gradient
  background linear-gradient(top, transparent, blanco)
  display block
  height 150px
  width 100%

.coin-bg
  background-color verde-aqua
  background-position center
  background-size cover // contain
  background-repeat no-repeat
  &.sv
    background-image url('/img/v2/bg.png')
  &.gt
    background-image url('/img/v2/bg.png')
  &.cr
    background-image url('/img/v2/bg.png')
  &.hn
    background-image url('/img/v2/bg.png')
  &.nc
    background-image url('/img/v2/bg.png')
  +below(992px)
    background-repeat no-repeat

.video-full
  padding-bottom 0
  .video-container
    border-radius 30px
    border-bottom 55px solid aquaPar2
    border-left 30px solid aquaPar2
    border-right 30px solid aquaPar2
    border-top 35px solid aquaPar2
    margin-left auto
    margin-right auto
    max-width 1000px
    +below(700px)
      border none
      border-radius 0
  +below(600px)
    padding-bottom 5px !important
    width 100% !important

#leaderboard-cont
  margin-top -1px
  h2
    margin-top 0 !important
    relative top -20px left

#leaderboard
  background-image url('/img/v2/game/assets/fondo.png')
  background-position center
  background-repeat no-repeat
  background-size cover
  margin 20px auto
  max-width 1300px
  padding 50px 0 70px 0
  width 100%
  .table-positions,.logo
    background-color blanco
    display inline-block
    vertical-align top
  .logo
    box-shadow 5px 7px 0 0 naranja
    border-radius 15px 0 0 15px
    padding 20px 40px
    img
      margin 10px auto
      max-width 200px
      width 90%
  .table-positions
    box-shadow 5px 7px 0 0 naranja
    border-radius 0 15px 15px 15px
    padding 20px 40px
    h3
      background-image url('/img/v2/game/assets/linea_azul.png')
      background-position center bottom
      background-repeat no-repeat
      background-size contain
      color game-azul
      display block
      font-family 'Poppins', sans-serif
      font-size 2em
      font-weight 700
      margin 0 auto 20px auto
      max-width 300px
      padding-bottom 5px
      width 80%
    ul
      display inline-block
      color game-azul
      font-family 'Poppins', sans-serif
      font-size 1.8em
      margin 5px
      &.names
        background-color game-celeste
        border-radius 15px
        box-shadow 4px 4px 0 0 game-azul
        font-weight 700
        padding 15px
        li
          background-image url('/img/v2/game/assets/linea_divisora.png')
          background-position center bottom
          background-repeat no-repeat
          background-size contain
          min-width 200px
          padding 0 10px 2px 10px 
          text-align left
          &:last-child
            background-image none
        .hide-score
          display none
          &.position
            background-color blanco
            border-radius 50%
            box-shadow 1px 1px 0 0 game-azul
            color game-azul !important
            font-size 0.9em
            height 30px
            margin-right 5px
            text-align center
            width 30px
      &.positions
        font-weight 800
        padding 15px 0
        li
          background-color game-celeste
          border-radius 50%
          box-shadow 2px 2px 0 0 game-azul
          height 34px
          margin 8px 0
          width 34px
      &.scores
        font-weight 800
        padding 15px 0 15px 10px
        li
          text-shadow 2px 2px 0 rgba(verde, 0.6)
          margin 2px 0
          text-align left
  +below(900px)
    .table-positions,.logo
      display block
      width 95%
    .logo
      border-radius 15px
      margin 0 auto 20px auto
    .table-positions
      border-radius 15px
      margin 0 auto
      ul
        font-size 1.5em
  +below(650px)
    .table-positions
      padding 20px 15px 20px 10px
      .scores,.positions,.show
        display none !important
      .names
        width 100% !important
        li
          padding 5px 0 !important
        span.hide-score
          display inline-block !important
          vertical-align middle

.cont-swiper
  margin 0 auto
  max-width 1000px

.list
  padding 50px 0 60px 0
  ul
    margin 0 auto
    text-align center
    width 100%
    li
      color blanco
      display inline-block      
      margin 5px 15px
      vertical-align top
      width 110px
      img
        height auto
        max-width 60px
        width 100%
      span
        display block
        GothamHTFBold(12px)
      &:hover
        cursor pointer

.swiper-container
  height 100%
  width 100%
  .swiper-button-next
    background-image url('/img/v2/banner/r.png') !important
  .swiper-button-prev
    background-image url('/img/v2/banner/l.png') !important

.swiper-slide
  align-items center
  background-color verde-aqua
  display flex
  font-size 18px
  text-align center
  img
    max-width 100%

#catalogo
  iframe
    display block
    height 90vh
  +below(600px)
    iframe
      height 65vh !important
      width 78% !important      

#go-home
  z-index 99999

#promociones
  img
    height auto
    max-width 100%
    width 100%
  .col:first-child
    padding-bottom 10px
    padding-top 20px
  +below(600px)
    .col
      padding-bottom 10px

#result-stores
  min-height 100px
  p
    min-height 50px !important
  .card-action
    border-top 1px solid rgba(blanco, .3) !important
    padding 0 24px !important
    img
      max-width 50px
      width 100px

#store
  .select-wrapper
    &.disabled    
      input
        color rgba(casi-negro, 0.3) !important
    input
      color naranjav2 !important
    ul
      li
        span
          color naranjav2 !important
        &:first-child
          span
            color rgba(casi-negro, 0.3) !important
    

// materialize
.input-field
  margin-bottom 0 !important
.progress
  margin-top 0 !important
.progress.grey.lighten-5.op
  opacity 0 !important
